POSTGRES_PASSWORD=password
POSTGRES_DB=rede_pesquisadores

JWT_SECRET=senhasupersecretajwt
JWT_REFRESH_SECRET=senhasupersecretarefreshjwt

MAIL_USER=seuemail@gmail.com
MAIL_SECRET="abcd efgh ijkl mnop"

FRONTEND_URL=http://localhost:5173
